html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 30s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #4f4f51 50%, #f58f7c 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:30s;
  }
  
  .bg3 {
    animation-duration:30s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

/* Styling, Z-index, and positioning for my footer */
.footer-icon {
    border-radius: 50%;
    width: 40px;
}

.footer-icon-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  }

  .projectsContent {
  
    border-radius:.25em;
    
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }

.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
}

.carousel {
  padding-top: 20px;
  padding-bottom: 100px;
}

#myCarousel {
  margin-left: 50px;
  margin-right: 50px;
}

.carousel-control-prev {
  margin-left: -125px;
}

.carousel-control-next {
  margin-right: -125px;
}

#email {
  font-family:monospace;
  padding-top: 10px;
  font-size: 17px;
  margin-left: -30px;
  font-weight: bold;
}

#phone {
  font-family:monospace;
  padding-top: 10px;
  font-size: 17px;
  margin-right: 20px;
  font-weight: bold;
}

.card-columns {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  
}

.card {
  background-color: #F8F9FA;
}

.btn {
 margin-left: 50px;

}